<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            function start(){
                $.ajax({
                    type: "POST",
                    url: 'http://127.0.0.1:5000/start',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify('estamos prontos, capitão'),
                    success: function (resp) {
                        window.location = resp;
                    },
                    error: function (_) {
                        start();
                    }
                });
            }
            function leave() {
                $.ajax({
                    type: "POST",
                    url: 'http://127.0.0.1:5000/leave',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify('adeus, capitão'),
                    success: function (resp) {
                        window.location = resp;
                    }
                });
            }
        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50px;}
        </style>
        <div class = a>
            <p>Assunto do grupo: {{ subject }}</p>
            <p>Nome do grupo: {{ group_name }}</p>
            <br>
            <p>Integrantes:</p>
            <table style="align-items: center; padding-left: 300px;">
                {% for name in people %}
                <tr>
                    <td>{{ name }}</td>
                </tr>
                {% endfor %}
            </table>

            <button onclick="start()" style="display:inline;">Começar</button>
            <button onclick="leave()" style="display:inline;">Sair</button>
        </div>
    </body>
</html>