<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            function createGroup(){
                $.ajax({
                    type: "POST",
                    url: 'http://127.0.0.1:{{flask_port}}/new_group',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(document.getElementById("fname").value),
                    success: function (resp) {
                        console.log('success ' + resp);
                        window.location = resp;
                    },
                    error: function (resp) {
                        console.log('error' + resp);
                    }
                });
            }

        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50px;}
        </style>
        <div class = a>
            <h1>Perguntas do batatão</h1>
            Nome da sala: <br><br>
            <input type="text" id="fname" title="nome da sala"><br><br><br><br><br><br><br><br>
            <button onclick="createGroup()">Registrar</button>
        </div>
    </body>
</html>