<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            function get_rooms(){
                window.location.replace("http://127.0.0.1:5000/rooms");   
            }


        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50;}
        </style>
        <div class = a>
            <input type="text" id="fname" name="fname" title="Nome da sala">
            <input type="text" id="fname" name="fname" title="Numero participantes">
            <button onclick="get_subjects()">Registrar</button>
            

    </div>
    </body>
</html>