<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
        
            function next_question(answer){
                //metodo de mandar resposta tambem e controle de se acabou. tem que implementar
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/answer",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({"answer":answer}),
                    success: function(x){
                        window.location.replace("http://127.0.0.1:5000/question");
                    }
                });
                
                   
            }
        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50;}
        </style>
        <div class = a>
            {% for pergunta_name in pergunta %}
            <h1>{{pergunta_name}}</h1>
            {% endfor %}
            {% for resposta in respostas %}
            <button id="button" value="{{pergunta}}" onclick="next_question('{{resposta}}')">{{resposta}}</button><br><br>
            {% endfor %}
            

    </div>
    </body>
</html>