<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
        
            function next_question(){
                //metodo de mandar resposta tambem e controle de se acabou. tem que implementar
                // $.ajax({
                //     type: "POST",
                //     url: 'url para pegar pergunta',
                //     dataType: "json",
                //     contentType: "application/json",
                //     data: JSON.stringify({"data":document.getElementById("button").value}),
                //     success: function(x){
                //         window.location.replace("http://127.0.0.1:5000/rooms");
                //     }
                // });
                window.location.replace("http://127.0.0.1:5000/rooms");
                   
            }
        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50;}
        </style>
        <div class = a>
            <h1>Pergunta</h1>
            {% for pergunta in ["RespostaA","RespostaB"] %}
            <button id="button" value="{{pergunta}}" onclick=next_question()>{{pergunta}}</button><br><br>
            {% endfor %}
            

    </div>
    </body>
</html>