<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            function go_question(){
    
                window.location.replace("http://127.0.0.1:5000/question");   
            }


        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50;}
        </style>
        <div class = a>
            {% for sala in room%}
            <h1>{{sala}}</h1><br>
            {% endfor %}
            {% for assunto in subject%}
            <h1>{{assunto}}</h1><br><br>
            {% endfor %}
            <div class = a>
            <table style="align-items: center; padding-left: 300;">
                {% for person in groups%}
                <tr>
                    <td> {{person + "\n"}}<br></td>
                <td><br>
                {% endfor %}
                   
                </td>

                </tr>
            </table>
            
            <button onclick="go_question()">Entrar</button>

    </div>
    </body>
</html>