<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            function new_room(){
                window.location.replace("http://127.0.0.1:5000/new-room");   
            }
        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50;}
        </style>
        <div class = a>
            <h1>Perguntas do batatão</h1>
            <h2>Room teste</h2>
            <button onclick="new_room()">Adicionar</button><br><br>
            {% for room in ["Sala 1","Sala 2","Sala 3"] %}
            <button onclick="new_room()">{{room}}</button><br><br>
            {% endfor %}
            

    </div>
    </body>
</html>