<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
        
            function get_subjects(){
                window.location.replace("http://127.0.0.1:5000/rooms");   
            }
        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50;}
        </style>
        <div class = a>
            <h1>Perguntas do batatão</h1>
            {% for subject in ["Fulano1","Fualno2"] %}
            <button onclick="get_subjects()">{{subject}}</button>
            {% endfor %}
            

    </div>
    </body>
</html>