<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">

            function getGroups(subject_id){
                $.ajax({
                    type: "POST",
                    url: 'http://127.0.0.1:{{flask_port}}/groups',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(subject_id),
                    success: function (resp) {
                        window.location = resp;
                    }
                });
            }

        </script>
    </head>
    <body>
        <style>
            div.a{ text-align: center;padding-top: 50px;}
        </style>
        <div class = a>
            <h1>Perguntas do batatão</h1>
            <h2>Assuntos do batatão</h2>
            {% for id, name in subjects %}
            <button onclick="getGroups('{{ id }}')">{{ name }}</button><br><br>
            {% endfor %}
    </div>
    </body>
</html>